services/core/xsd/supplemental_security_patches/supplemental_security_patches.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemas.android.com/security/patches/1.0"
           elementFormDefault="qualified">

    <xs:element name="security-patches">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="patch" minOccurs="0" maxOccurs="25000">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:string" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
